[x-cloak] {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

input:invalid, textarea:invalid, select:invalid {
  box-shadow: none;
}

.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

@layer components {

    .text-menu {
        @apply text-center font-light text-sm text-baseDark dark:text-baseLight-light;
    }

    .toggle-theme {
        @apply transition duration-500;
    }

}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(000, 000, 000, 0,5);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #510D0A;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #360907;
  }

.decoration-social:hover {
	background: linear-gradient(-45deg, #E5DADA, #E59500, #510D0A, #02040F);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

.decoration-title {
	background: linear-gradient(-45deg, #E5DADA, #E59500, #510D0A, #02040F);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
